<h1 mat-dialog-title>{{data ? 'Edit Task' : 'Create Task'}}</h1>

<div mat-dialog-content>
  <form [formGroup]="taskForm"
        (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Task</mat-label>
        <input matInput
               placeholder="Title"
               formControlName="task">
        <mat-error *ngIf="taskForm.get('task')?.invalid && taskForm.get('task')?.touched">
          Task is required.
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Assigned To</mat-label>
        <input matInput
               placeholder="Name"
               formControlName="assignedTo">
        <mat-error *ngIf="taskForm.get('assignedTo')?.invalid && taskForm.get('assignedTo')?.touched">
          Assigned To is required.
        </mat-error>
      </mat-form-field>
    </p>


  </form>
</div>

<div mat-dialog-actions
     align="end">
  <button mat-button
          (click)="onCancelClick()">
    Cancel
  </button>
  <button mat-raised-button
          color="primary"
          type="submit"
          (click)="onSubmit()"
          [disabled]="!taskForm.valid">
    {{data ? 'Update' : 'Save'}}
  </button>
</div>