<div class="dashboard-wrapper">
  <div class="dashboard">
    <div class="task-list-container">
      <h3>To do</h3>
      <div cdkDropList
           #todo="cdkDropList"
           [cdkDropListData]="toDoList"
           [cdkDropListConnectedTo]="[inProgress, inReview, done]"
           (cdkDropListDropped)="drop($event)"
           class="task-list">
        <div *ngFor="let item of toDoList"
             cdkDrag>
          <app-card [cardConfig]="item"
                    (editTask)="editTask($event)"
                    (deleteTask)="deleteTask($event)">
          </app-card>
        </div>
      </div>
    </div>
    <div class="task-list-container">
      <h3>In progress</h3>
      <div cdkDropList
           #inProgress="cdkDropList"
           [cdkDropListData]="inProgressList"
           [cdkDropListConnectedTo]="[todo, inReview, done]"
           (cdkDropListDropped)="drop($event)"
           class="task-list">
        <div class="example-box"
             *ngFor="let item of inProgressList"
             cdkDrag>
          <app-card [cardConfig]="item"
                    (editTask)="editTask($event)"
                    (deleteTask)="deleteTask($event)">
          </app-card>
        </div>
      </div>
    </div>
    <div class="task-list-container">
      <h3>In review</h3>
      <div cdkDropList
           #inReview="cdkDropList"
           [cdkDropListData]="inReviewList"
           [cdkDropListConnectedTo]="[todo, inProgress, done]"
           (cdkDropListDropped)="drop($event)"
           class="task-list">
        <div *ngFor="let item of inReviewList"
             cdkDrag>
          <app-card [cardConfig]="item"
                    (editTask)="editTask($event)"
                    (deleteTask)="deleteTask($event)">
          </app-card>
        </div>
      </div>
    </div>
    <div class="task-list-container">
      <h3>Done</h3>
      <div cdkDropList
           #done="cdkDropList"
           [cdkDropListData]="doneList"
           [cdkDropListConnectedTo]="[todo, inProgress, inReview]"
           (cdkDropListDropped)="drop($event)"
           class="task-list">
        <div *ngFor="let item of doneList"
             cdkDrag>
          <app-card [cardConfig]="item"
                    (editTask)="editTask($event)"
                    (deleteTask)="deleteTask($event)">
          </app-card>
        </div>
      </div>
    </div>

    <div>
      <button mat-raised-button
              color="primary"
              (click)="openTaskForm()">
        <mat-icon>add_circle_outline</mat-icon>
        Add Task
      </button>
    </div>
  </div>
</div>

<ng-template #deleteConfirmationTemplate>
  <div>
    <h2 mat-dialog-title>Delete Confirmation</h2>
    <mat-dialog-content>
      Are you sure you want to delete this task?
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button
              (click)="deleteDialogRef.close(false)">Cancel</button>
      <button mat-button
              color="warn"
              (click)="deleteDialogRef.close(true)">Delete</button>
    </mat-dialog-actions>
  </div>
</ng-template>